/*==================Default values===========================
  font-family : Roboto Condensed 

  Code couleurs : 
  #34C6D3 : boutons , icons ,links,lines & background
  #41464B : Heading <h1> jusqu'a <h6>
  #64707B : paragraphes
  #FFF : texte avec un background noir 
  #000 : il est toujours présent 
===============================================================*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Robotos Condensed', sans-serif;
}
body{
  z-index: -2;
}


/* navbar */
.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: black;
}
.inner_header {
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
  
 
}
.logo_container {
  height: 100%;
  display: table;
  float: left;
}
.logo_container h1 {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Seymour One', sans-serif;
  font-size: 32px;
}
  .logo_container h1 a {
    color: white;
  }

.logo_container h1 span {
  font-weight: bolder;
  color: #34C6D3;
}
.navigation {
  float: right;
  height: 100%;
  
}
.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}
.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-family: 'Montserrat';
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.navigation a li:hover {
  color: #34C6D3;
}
.menu {
  padding: 20px 10px ;
  float: right;
  color: white;
  font-size: 32px;
  text-align: center;
  display: none;
}
@media (max-width: 1400px) {
  slider{
    z-index: -1;
  
  }
  .toggle {
    display: block;
    z-index: 1;
  }
  .menu {
    display: block;
    position: relative;
    cursor: pointer;

 }
  .navigation{
      border-top: 0.1px solid gray;
      margin-right: -14%;
      float: right;
      width: 300px;
      height: auto;
      margin-top: 79px;
      padding: 0;
      background-color: black;
      text-align: center;
      display:none;
  }
  .navigation  a {
    display: block;
    padding: 20px;
  }
 
  .navigation a li {
    padding: 2Opx;
    display: block;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
  .active{
      display: grid;
  }
}

                                                                                           
@media (max-width: 620px) {

  .toggle {
    display: block;
}
.menu {
display: block;
position: relative;
}
.navigation{
  margin-right: -17%;
  float: right;
  width: 167px;
  height: auto;
  margin-top: 79px;
  padding: 0;
  background-color: black;
  text-align: center;
  display:none;
}
.navigation  a {
display: block;
padding: 20px;
}

.navigation a li {
padding: 2Opx;
display: block;
height: 100%;
color: white;
font-family: 'Montserrat';
font-size: 16px;
text-transform: uppercase;
font-weight: bold;
cursor: pointer;
}
.active{
  display: grid;
}
}


/* .slider */
slider {
    display: block;
    width: 100%;
    height: 90%;
    background-color: #34C6D3;
    overflow: hidden;
    position: absolute;
    
   }
   
   slider > * {
     text-align: center;
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    background: #34C6D3;
    animation: slide 12s infinite;
    overflow: hidden;
    
   }
   
   slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url("../img/1.jpg");
    background-size: cover;
    background-position: center;
   }
   
   slide:nth-child(2){
    left: 100%;
    animation-delay: 2s;
    background-image: url("../img/2.jpg");
    background-size: cover;
    background-position: center;
   }
   
   slide:nth-child(3){
    left: 100%;
    animation-delay: 5s;
    background-image: url("../img/3.jpg");
    background-size: cover;
    background-position: center;
   }
   
   slide:nth-child(4){
    left: 100%;
    animation-delay:8s;
    background-image: url('../img/4.jpg');
    background-size: cover;
    background-position: center;
   }
   
   slide p {
    font-family: 'Roboto Condensed' ;
    font-size: 70px;
    display: inline-block;
    width: 100%;
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 100%;
    text-align: center;
   } 
   @keyframes slide {
    0% { left: 100%; width: 100%; }
    5% { left: 0%; }
    25% { left: 0%; }
    30% { left: -100%; width: 100%; }
    30.0001% { left: -100%; width: 0%; }
    100% { left: 100%; width: 0%; }
   } 
   
   /* button */
   .glow-on-hover {
     z-index: 3;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem ;
    width: 40%;
    height: 100px;
    border: none;
    outline: none;
    color: white;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin:auto;
    top: -40%;
    /* left: 38%;
    top: 7%; */
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
  
   

   
   
   

  
   
 

  