
.paragraph-section {
    display: grid;
    display: block;
    width: 100%;
    height: 120vh;
    background-image: url(../img/EEE.jpg);
    background-size: cover;
    
}
.paragraph {
    
    display: grid;
    width: 100%;
    left: 4em;
    top: 18em;
}

.paragraph-section .title {
  display: TABLE-COLUMN-GROUP;
  font-size: 48px;
  color: white;
  font-weight: bold;
  margin-top: 7%;
  margin-left: 6%;
  margin-bottom: 1em;
  
}
.paragraph-section  h1 span {
    top: 20px;
    display: inline-block;
    -webkit-animation: bouncee 0.3s ease infinite alternate;
    font-size: 80px;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
      0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
  }
  
  .paragraph-se h1 span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
  }
  
  .paragraph-section  h1 span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
  }
  
  .paragraph-section  h1 span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
  }
  
  .paragraph-section  h1 span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
  }
  
  .paragraph-section  h1 span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
  }
  
  .paragraph-section  h1 span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
  }
  
  .paragraph-section  h1 span:nth-child(8) {
    -webkit-animation-delay: 0.2s;
  }
  
  .paragraph-section  h1 span:nth-child(9) {
    -webkit-animation-delay: 0.3s;
  }
  
  .paragraph-section  h1 span:nth-child(10) {
    -webkit-animation-delay: 0.4s;
  }
  
  .paragraph-section  h1 span:nth-child(11) {
    -webkit-animation-delay: 0.5s;
  }
  
  .paragraph-section  h1 span:nth-child(12) {
    -webkit-animation-delay: 0.6s;
  }
  
  .paragraph-section  h1 span:nth-child(13) {
    -webkit-animation-delay: 0.7s;
  }
  
  /* ANIMATION */
  @-webkit-keyframes bouncee {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
        0 50px 25px rgba(0, 0, 0, 0.2);
    }
  }
  
.paragraph-section p {
    text-align: center;
    padding: 0 46% 0 7%;
    display: block;
    color: white;
    font-size: 32px;
    text-align: center;
    
}

@media (max-width:844px) {

  .paragraph-section h1 span {
    top: 20px;
    display: inline-grid;
    -webkit-animation: bouncee 0.3s ease infinite alternate;
    font-size: 47px;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
}
.paragraph-section p {
  padding: 0;
  
}
.paragraph-section .title {
  margin: 17% AUTO;
}
}
.button2 {
  display: grid;
  margin: 20% 0 0 -42%;
}
.button2 .glow-on-hover {
  font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    width: 319px;
    height: 85px;
    border: none;
    outline: none;
    color: white;
    background: #111;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    margin: auto;
    box-shadow: azure (10 8 0 0);
  }

