*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
}

.services-section{
background: url(../img/azz.jpg);
background-size: cover;
padding: 60px 0;
}
.inner-width{
width: 100%;
max-width: 1200px;
margin: auto;
padding: 0 20px;
overflow: hidden;
}
.inner-width h1{
    display: block;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    
}

.border{
    widows: 160px;
    height: 2px;
    background: #34C6D3;
    margin: 40px auto;
    opacity: 0.3;
}
.services-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-container p {
   text-align: center;
    box-shadow: white;
    border: 2px solid #34C6D3;
    padding:76px 38px;

}
.service-box{

max-width: 33.33%;
padding: 10px;
text-align: center;
color: #ddd; 
cursor: pointer;
}

.service-icon{
display: inline-block;
width: 70px;
height: 70px;
border: 3px solid #34C6D3;
color: #34C6D3;
transform:rotate(45deg);
margin-bottom: 30px;
margin-top: 70px;
transition: 0.3s linear;
}
.service-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
}
.service-box:hover .service-icon{
    background: #34C6D3;
    color: #ddd;
}
.service-title{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.service-desc{
font-size: 14px;
}
@media screen and (max-width:960px) {
    .service-box{
        max-width:45%;
    }
}
@media screen and(max-width:480px){
    .service-box{
        max-width: 50%;
    }
}
@media screen and (max-width:480px){
    .service-box{
        max-width: width 100%;
    }
}