/*==================Default values===========================
  font-family : Roboto Condensed 

  Code couleurs : 
  #34C6D3 : boutons , icons ,links,lines & background
  #41464B : Heading <h1> jusqu'a <h6>
  #64707B : paragraphes
  #FFF : texte avec un background noir 
  #000 : il est toujours présent 
===============================================================*/
 * {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   
 }
 
/* navbar */
 .header {
   width: 100%;
   height: 80px;
   display: block;
   background-color: black;
 }
 .inner_header {
   width: 90%;
   height: 100%;
   display: block;
   margin: 0 auto;
  
 }
 .logo_container {
   height: 100%;
   display: table;
   float: left;
 }
 .logo_container h1 {
   color: white;
   height: 100%;
   display: table-cell;
   vertical-align: middle;
   font-family: 'Seymour One', sans-serif;
   font-size: 32px;
 }
 .logo_container h1 span {
   font-weight: bolder;
   color: #34C6D3;
 }
 .navigation {
   float: right;
   height: 100%;
 }
 .navigation a {
   height: 100%;
   display: table;
   float: left;
   padding: 0px 20px;
 }
 .navigation a li {
   display: table-cell;
   vertical-align: middle;
   height: 100%;
   color: white;
   font-family: 'Montserrat';
   font-size: 12px;
   text-transform: uppercase;
   font-weight: bold;
   cursor: pointer;
 }
 .navigation a li:hover {
   color: #34C6D3;
 }

 
/* .slider */
slider {
  display: block;
  width: 100%;
  height: 90%;
  background-color: #34C6D3;
  overflow: hidden;
  position: absolute;
  
 }
 
 slider > * {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #34C6D3;
  animation: slide 12s infinite;
  overflow: hidden;
  
 }
 
 slide:nth-child(1){
  left: 0%;
  animation-delay: -1s;
  background-image: url("/img/1.jpg");
  background-size: cover;
  background-position: center;
 }
 
 slide:nth-child(2){
  animation-delay: 2s;
  background-image: url("/img/2.jpg");
  background-size: cover;
  background-position: center;
 }
 
 slide:nth-child(3){
  animation-delay: 5s;
  background-image: url("/img/3.jpg");
  background-size: cover;
  background-position: center;
 }
 
 slide:nth-child(4){
  left: 0%;
  animation-delay: 8s;
  background-image: url('/img/4.jpg');
  background-size: cover;
  background-position: center;
 }
 
 slide p {
  font-family: 'Roboto Condensed' ;
  font-size: 70px;
  display: inline-block;
  font-weight: bold;
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 100%;
  text-align: center;
 }
 slide p .button {
    font-weight: bold;
    color: white;
    border: 1px solid white;
    background: none;
    padding: 10px 20px;
    font-size: 70px;
    font-family: 'Roboto Condensed';
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
 }

 .button:hover{
  color: #34C6D3;
 }
 


 @keyframes slide {
  0% { left: 100%; width: 100%; }
  5% { left: 0%; }
  25% { left: 0%; }
  30% { left: -100%; width: 100%; }
  30.0001% { left: -100%; width: 0%; }
  100% { left: 100%; width: 0%; }
 }
 
 

