body{
    margin: 0;
    padding: 0;
    background: #34495e;
    
}
#real {
    background-image: url(img/hard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
--slider--

.slidershow{
    width: 700px;
    height: 400px;
    overflow: hidden;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor:pointer;
    transition: 0.4s;
}
.bar:hover{
    background: #fff;
}
input[name="s"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.slide{
    width: 20%;
    transition: 0.6s;

}
.slide img{
    width: 100%;
    height: 100%;
}
#s1:checked ~ .r1{
    margin-left: 0;
}
#s2:checked ~ .r1{
    margin-left: -20%;
}
#s3:checked ~ .r1{
    margin-left: -40%;
}
#s4:checked ~ .r1{
    margin-left: -60%;
}
#s5:checked ~ .r1{
    margin-left: -80%;
}
#s6:checked ~ .r1{
    margin-left: -100%;
}

--titles--
.articles{
    text-align: center;
    padding-top: 30px;
  
   

}
.articles-title{
    font-size: 30px;
    text-align: center;
    color: #333;
    border-bottom: 4px solid #f39c12;
    display: inline;
}
.avatar{
    padding-top: 40%;
    text-align: center;
    
    
    
    
}
       


.article{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 5px;
    
    
}
--equipe--
.wrapper{
    width: 11 70px;
    margin: 2% auto;
}

.team-member{
    width:29%;
    height:23em ;
    float:left;
    box-shadow: 5px 5px 15px #000;
    position: relative;
    display:block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin:0 5px;
    background: #222859;
}
 .team-member img{
     width: 100%;
     height: 80%;
 }
 .team-member h3{
     margin: 0;
     text-transform: uppercase;
     font-size: 25px;
     color: #fff;
 }
 .team-member p {
     color: #fff;
 }
 .team-member:before{
     position: absolute;
     content:'' ;
     left: 0;
     bottom: 0;
     height: 4px;
     width: 100%;
     border-bottom: 4px solid transparent;
     border-left: 4px solid transparent;
     box-sizing: border-box;
     transform: translateX(100%);
 }
 .team-member:after{
    position: absolute;
    content:'' ;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}
.team-member:hover:before{
    border-color: tomato;
    height: 100%;
    transform: translateX(0);
    transition: .3s transforme linear, .3s height linear .3s;

}
.team-member:hover:after{
    border-color: tomato;
    height: 100%;
    transform: translateX(0);
    transition: .3s transforme linear, .3s height linear .5s;

}
--client--

.wrapper-2{
    width: 1200px;
    margin: 0 auto;
}
.wrapper-h2{
    font-family: baloo;
    text-align:center;
    padding-top: 5%;
    text-transform: uppercase;
    font-size: 40px;
}
.section-padding{
    padding: 15px 0;
}
.owl-dot{
    display: inline-block;
    height: 15px !important;
    width: 15px !important;
    background-color:#000 !important ;
    border-radius: 50%;
    margin: 0 5px;
}
.owl-dots{
    text-align: center;
}
.owl-dot.active{
    background-color: #7c9ee6 !important;
}